/* 1rem = 10px */
html {
  font-size: 62.5% !important;
}

@media (max-width: 1920px) {
  html {
    font-size: 0.5208vw !important;
  }
}

:root {
  --width-page: 192rem;
  --width-container: 172rem;

  /* font */
  --font-main: "Archivo";
  --font-title: "Merchant Regular";
  --font-title-thin: "Merchant Thin";

  /* color */
  --bg-main: #181d24;
  --text-main: #ffffff;
  --text-brand: #d6a578;

  --animate-duration: 1800ms;
  --animate-delay: 1.5s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-main);

  font-weight: normal;
  font-style: normal;
  font-family: var(--font-main);
}

body {
  background-color: var(--bg-main);
  font-size: 1.6rem;
  hegiht: 100%;
  position: relative;
  font-family: var(--font-main);
}

main {
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
}

[data-scrollbar] .scrollbar-thumb, [scrollbar] .scrollbar-thumb, scrollbar .scrollbar-thumb {
  background: var(--text-main) !important;
}

a {
  text-decoration: none;
}

.wrapper_container {
  padding: 0 10rem;
}

.container {
  width: 100%;
  max-width: var(--width-container);
  margin: auto;
}

/* Line */
.line_left {
  height: 100%;
  width: 0.1rem;
  background: #ffffff26;
  top: 0;
  left: calc(50vw - 48rem);
  min-height: 100vh;
  position: absolute;
}

.line_center {
  height: 100%;
  width: 0.1rem;
  background: #ffffff26;
  top: 0;
  left: 50%;
  transform: translate-X(-50%);
  min-height: 100vh;
  position: absolute;
}

.line_right {
  height: 100%;
  width: 0.1rem;
  background: #ffffff26;
  top: 0;
  right: calc(50vw - 48rem);
  min-height: 100vh;
  position: absolute;
}

/* Header */
.header_home {
  padding-top: 9.7rem;
  padding-bottom: 17.6rem;
}

.header_containter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_containter .phone_header {
  font-size: 3rem;
  line-height: 46.17px;
  text-align: left;
  width: 33.33%;
}

.header_containter .logo_header {
  display: flex;
  align-item: center;
  justify-content: center;
  width: 33.33%;
}

.header_containter .logo_header img {
  width: 39.5rem;
  height: 8.7rem;
}

.header_containter .menu_header {
  width: 33.33%;
  display: flex;
  align-item: center;
  justify-content: flex-end;
}

.header_containter .menu_header .icon_menu {
  padding: 3rem 2.5rem;
  border-radius: 50%;
  border: 0.1rem solid #ffffff4d;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-item: center;
  justify-content: center;
  cursor: pointer;
}

.header_containter .menu_header .icon_menu img {
  width: 3rem;
  height: 2rem;
}

/* Banner */
.banner_container {
  padding: 0 5rem;
  width: 100%;
  height: 120rem;
  position: relative;
}

.banner_container .wrapper_image_banner {
  width: 100%;
  height: 100%;
  position: relative;
}

.banner_container .wrapper_image_banner .bg_left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 61.4rem;
  height: 85.3rem;
  border-radius: 50rem 50rem 0px 0px;
  overflow: hidden;
  border: 0.3rem solid var(--text-main);
}

.banner_container .wrapper_image_banner .bg_left img {
  width: 100%;
  height: 100%;
  transition: color 0.5s ease, transform 0.5s ease;
}

.banner_container .wrapper_image_banner .bg_left:hover img {
  transform: scale(1.1);
  transition: color 0.5s ease, transform 0.5s ease;
}

.banner_container .wrapper_image_banner .bg_right {
  position: absolute;
  right: 4rem;
  top: 0;

  width: 45.8rem;
  height: 52.5rem;
  border-radius: 0 0 50rem 50rem;
  overflow: hidden;
  border: 0.3rem solid var(--text-brand);
}

.banner_container .wrapper_image_banner .bg_right img {
  width: 100%;
  height: 100%;
  transition: color 0.5s ease, transform 0.5s ease;
}

.banner_container .wrapper_image_banner .bg_right:hover img {
  transform: scale(1.1);
  transition: color 0.5s ease, transform 0.5s ease;
}

.banner_container .banner_text {
  font-family: var(--font-title-thin) !important;
  font-size: 17.7rem;
  line-height: 18rem;
  width: 150rem;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 8.4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  text-shadow: 0.2rem 0.2rem 0.5rem #000;
}

.banner_container .banner_text span {
  font-family: var(--font-title-thin) !important;
  color: var(--text-brand);
}

/* Dream Homes */
.dream_home_section {
  padding-top: 23.5rem;
  padding-bottom: 26.8rem;
}

.dream_home_container {
  display: flex;
  flex-direction: column;
  gap: 15.6rem;
}

.dream_home_container .dream_home_text {
  font-family: var(--font-title) !important;
  font-size: 9rem;
  font-weight: 300;
  line-height: 9.162rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.dream_home_container .dream_home_text .text_color_light {
  font-family: var(--font-title) !important;
}

.dream_home_container .dream_home_text .text_color_brand {
  font-family: var(--font-title) !important;
  color: var(--text-brand);
  max-width: 150rem;
}

.dream_home_container .dream_home_desc {
  display: flex;
  flex-direction: row;
}

.dream_home_container .dream_home_desc .dream_home_desc_images {
  width: 50%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.dream_home_container .dream_home_desc .dream_home_desc_images .first_img {
  width: 38rem;
  padding-top: 14rem;
}

.dream_home_container
  .dream_home_desc
  .dream_home_desc_images
  .first_img
  .wrapper_first_img {
  width: 28.3rem;
  height: 35.2rem;
  border-radius: 0px 0px 13rem 13rem;
  overflow: hidden;
  border: 0.2rem solid var(--text-brand);
}

.dream_home_container
  .dream_home_desc
  .dream_home_desc_images
  .first_img
  .wrapper_first_img
  img {
  width: 28.3rem;
  height: 40rem;
  transition: color 0.5s ease, transform 0.5s ease;
}

.dream_home_container
  .dream_home_desc
  .dream_home_desc_images
  .first_img
  .wrapper_first_img:hover
  img {
  transition: color 0.5s ease, transform 0.5s ease;
  transform: scale(1.1);
}


.dream_home_container .dream_home_desc .dream_home_desc_images .second_img {
  width: 48.2rem;
  height: 58.8rem;
  border: 0.2rem solid var(--text-main);
  overflow: hidden;
}

.dream_home_container .dream_home_desc .dream_home_desc_images .second_img img {
  width: 100%;
  height: 100%;
  transition: color 0.5s ease, transform 0.5s ease;
}

.dream_home_container .dream_home_desc .dream_home_desc_images .second_img:hover img {
  transition: color 0.5s ease, transform 0.5s ease;
  transform: scale(1.1);
}

.dream_home_desc_images .img_dream_3 {
  width: 38.7rem;
  height: 9.1rem;
  position: absolute;
  right: -12.1rem;
  bottom: 5.2rem;
}

.dream_home_container .dream_home_desc .dream_home_desc_text {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.416rem;
  text-align: left;
  max-width: 72rem;
  width: 50%;
  padding-left: 17rem;
}

/* Slider section */
.slider_section_swiper {
  position: relative;
}

.slider_section_swiper::after {
  content: '';
  width: 14rem;
  height: 0.4rem;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 9.8rem;
  z-index: 10000;
}

.slider_section_swiper::before {
  content: '';
  width: 0.58rem;
  height: 55rem;
  background-color: #fff;
  position: absolute;
  right: 10.6rem;
  top: 12.8rem;
  z-index: 10000;
}

.slider_section_swiper .slider_img_star {
  position: absolute;
  right: 6.3rem;
  top: 0;
  z-index: 100000;
  height: 19.241rem;
  width: 9.1rem;
  object-fit: cover;
}

.slider_container {
  width: 100%;
  height: 100%;
  max-width: var(--width-page);
  margin: auto;
}

.slider_section_item {
  margin-right: 4rem;
  padding-bottom: 8.2rem;
  width: 50rem;
  height: 76rem;
  position: relative;
  overflow: hidden;
}

.slider_section_item .tag_new {
  padding: 2.2rem 3rem;
  width: fit-content;
  background-color: var(--text-brand);
  color: var(--text-main);
  position: absolute;
  right: 3.8rem;
  top: 4.5rem;
  font-family: var(--font-title) !important;
  font-size: 4rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider_section_item .slider_item_price {
  width: 100%;
  background-color: var(--text-main);
  color: var(--bg-main);
  position: absolute;
  left: 0;
  bottom: 8.2rem;
  padding: 2.9rem;
}

.slider_section_item .slider_item_price .slider_location {
  color: var(--bg-main);
  padding-bottom: 2.8rem;
}


.slider_section_item .slider_item_price .slider_price {
  color: var(--text-brand);
  padding-bottom: 0.7rem;
  font-size: 4.497rem;
  font-weight: 500;
  line-height: 4.893rem;
  text-align: left;
}

.slider_section_item .slider_item_price .slider_info {
  color: var(--bg-main);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.741rem;
  text-align: left;
}

.slider_section_item img {
  width: 100%;
  height: 100%;
  max-height: 76rem;
  object-fit: cover;
  transition: color 0.5s ease, transform 0.5s ease;
  overflow: hidden;
}

.slider_section_item:hover img {
  transition: color 0.5s ease, transform 0.5s ease;
  cursor: pointer;
}



.slider_section_fit {
  width: 54rem !important;
}

.slider_section_scrollbar {
  background-color: rgb(255 255 255 / 70%) !important;
  height: 0.2rem;
  width: 90% !important;
  left: 10rem !important;
  border-radius: 0;
}

.slider_section_scrollbar  .swiper-scrollbar-drag {
  background-color: var(--text-brand) !important;
  height: 0.8rem;
  top: -0.2rem;
  border-radius: 0;
}

.slider_container .slider_footer {
  padding: 2.4rem 9rem 2.4rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider_footer .customer_pagi {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.slider_footer .customer_pagi .customer_page {
  font-size: 3rem;
  font-weight: 300;
  line-height: 3.624rem;
  text-align: left;
}

.slider_footer .customer_pagi .customer_page div {
  display: inline;
}

.slider_footer .customer_pagi .customer_page span {
  color: var(--text-brand);
}

.slider_footer .slider_discover {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.slider_footer .slider_discover  .arrow_page {
  display: flex;
  gap: 1rem;
}

.slider_footer .slider_discover  .arrow_page .customer_arrow {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid var(--text-brand);
  cursor: pointer;
}

.slider_footer .slider_discover  .arrow_page .customer_arrow img {
  width: auto;
  height: 1.25rem;
}

.slider_footer .slider_discover .arrow_page .customer_arrow.pre {
  transform: rotate(180deg);
}

/* Service */
.service_section {
  padding-top: 31.4rem;
  padding-bottom: 20rem;
}

.service_container .service_text {
  padding-bottom: 7rem;
  border-bottom: 0.1rem solid #ffffff;
}

.service_container .service_text .service_title {
  font-family: var(--font-title) !important;
  font-size: 9rem;
  line-height: 9.162rem;
  text-transform: uppercase;
  max-width: 150rem;
}

.service_container .service_text .service_title span {
  color: var(--text-brand);
  font-family: var(--font-title) !important;
}

.service_container .service_desc {
  padding-left: 38rem;
}

.service_container .service_desc .desc_item {
  padding-top: 4.2rem;
  padding-bottom: 5.6rem;
  border-bottom: 0.1rem solid #ffffff;
  display: flex;
  align-items: flex-start;
  gap: 10.4rem;
}

.service_container .service_desc .desc_item .item_index {
  width: 14.4rem;
  height: 14.4rem;
  border-radius: 50%;
  border: 0.162rem solid var(--text-brand);
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font-title) !important;
  font-size: 7rem;
  font-weight: 400;
  line-height: 7.126rem;
}

.service_container .service_desc .desc_item .item_content {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
  width: calc(50% + 42rem);
}

.service_container .service_desc .desc_item .item_content .item_title {
  padding-top: 4.6rem;
  font-family: var(--font-title) !important;
  font-size: 5rem;
  line-height: 5rem;
  text-transform: uppercase;
}

.service_container .service_desc .desc_item .item_content .item_desc {
  display: flex;
  justify-content: flex-end;
}

.service_container
  .service_desc
  .desc_item
  .item_content
  .item_desc
  .max_width_desc {
  padding-top: 4.8rem;
  border-top: 0.1rem solid #ffffff;
  max-width: 51rem;
  font-size: 2rem;
  line-height: 2.416rem;
}

/* Prioritize */
.prioritize_section {
  width: 100%;
  height: 105rem;
  max-width: var(--width-page);
  margin: auto;
  background-color: #fff;
  position: relative;
}

.prioritize_section .prioritize_banner {
  width: 161.1rem;
  height: 100%;
}

.prioritize_section .prioritize_text {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8.2rem 5.7rem 6rem 12.7rem;
  background-color: var(--text-brand);
  color: var(--bg-main);
  font-family: var(--font-title) !important;
  font-size: 9rem;
  line-height: 9.162rem;
  text-align: left;
  max-width: 95.1rem;
  text-transform: uppercase;
}

/* Customer */
.customer_section {
  padding-top: 17.4rem;
  padding-bottom: 25.5rem;
  width: 100%;
  max-width: var(--width-page);
  margin: auto;
  display: flex;
  position: relative;
}

.customer_section .customer_pagi {
  position: absolute;
  left: 110rem;
  bottom: 25.5rem;
  display: flex;
  gap: 4rem;
  align-items: center;
  z-index: 1000;
}

.customer_section .customer_pagi .customer_page {
  font-size: 3rem;
  font-weight: 300;
  line-height: 3.624rem;
  text-align: left;
}

.customer_section .customer_pagi .customer_page div {
  display: inline;
}

.customer_section .customer_pagi .customer_page span {
  color: var(--text-brand);
}

.customer_section .customer_pagi .arrow_page {
  display: flex;
  gap: 1rem;
}

.customer_section .customer_pagi .arrow_page .customer_arrow {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid var(--text-brand);
  cursor: pointer;
}

.customer_section .customer_pagi .arrow_page .customer_arrow img {
  width: auto;
  height: 1.25rem;
}

.customer_section .customer_pagi .arrow_page .customer_arrow.pre {
  transform: rotate(180deg);
}

.slide_customer .customer_item {
  display: flex;
  padding-right: 15.8rem;
}

.slide_customer .customer_item .customer_img {
  padding-top: 8.8rem;
  width: calc(50% + 7.9rem);
  overflow: hidden;
}

.slide_customer .customer_item .customer_img img {
  width: 100%;
  height: 75rem;
  object-fit: cover;
  transition: color 0.5s ease, transform 0.5s ease;
}


.slide_customer .customer_item .customer_img:hover img {
  transform: scale(1.1);
  transition: color 0.5s ease, transform 0.5s ease;
}

.slide_customer .customer_item .customer_text {
  width: calc(50% - 15.8rem);
}

.slide_customer .customer_item .customer_text .customer_name {
  font-family: var(--font-title) !important;
  color: var(--text-brand);
  font-size: 11.739rem;
  font-weight: 300;
  line-height: 11.95rem;
  text-align: left;
  padding-left: 14.7rem;
}

.slide_customer .customer_item .customer_text .customer_line {
  margin-top: 8rem;
  margin-bottom: 13.2rem;
  width: 90%;
  height: 0.1rem;
  background-color: var(--text-main);
}

.slide_customer .customer_item .customer_text .customer_desc {
  padding-left: 14.7rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.416rem;
  text-align: left;
}

/* Office */
.office_container {
  display: flex;
}

.office_container .office_title {
  display: flex;
  flex-direction: column;
  padding-right: 19.7rem;
  padding-top: 16rem;
}

.office_container .office_title .title_date {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.416rem;
  letter-spacing: 0.2em;
  text-align: left;
  margin-bottom: 4.3rem;
  text-transform: uppercase;
}

.office_container .office_title .title_main {
  font-family: var(--font-title) !important;
  color: var(--text-brand);
  font-size: 8.739rem;
  font-weight: 300;
  line-height: 8.896rem;
  text-align: left;
  max-width: 42.4rem;
  margin-bottom: 16.8rem;
  text-transform: uppercase;
}

.office_container .office_title .btn_more {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.859rem;
  letter-spacing: 0.2em;
  text-align: left;
  text-transform: uppercase;
}


.office_container .office_content_01 {
  display: flex;
  flex-direction: column;
  padding-right: 7.2rem;
  gap: 3.8rem;
  padding-top: 16rem;
}

.office_container .office_content_01 div {
  width: 64.1rem;
  height: 60.3rem;
  border: 0.2rem solid var(--text-brand);
  overflow: hidden;
}

.office_container .office_content_01 div img {
  width: 100%;
  height: 100%;
  transition: color 0.5s ease, transform 0.5s ease;
}

.office_container .office_content_01 div:hover img {
  transform: scale(1.1);
}

.office_container .office_content_01 span {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.416rem;
  text-align: left;
  max-width: 64.1rem;
}


.office_container .office_content_02 {
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
}

.office_container .office_content_02 div {
  width: 37.5rem;
  height: 42.9rem;
  border-radius: 50rem 50rem 0px 0px;
  overflow: hidden;
  border: 0.2rem solid var(--text-main);
}

.office_container .office_content_02 div img {
  width: 100%;
  height: 100%;
  transition: color 0.5s ease, transform 0.5s ease;
}

.office_container .office_content_02 div:hover img {
  transform: scale(1.1);
}


.office_container .office_content_02 span {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.416rem;
  letter-spacing: 0.1em;
  color: var(--text-brand);
  text-transform: uppercase;
}



/* Statistical */
.statistical_section {
  padding-top: 26.6rem;
  padding-bottom: 23.1rem;
  width: 100%;
  max-width: var(--width-page);
  margin: auto;
  display: flex;
}

.statistical_section .statistical_item {
  width: 25%;
  margin: 0 4rem;
  padding: 4rem 0 4.8rem 0;
  border-top: 0.2rem solid var(--text-brand);
  border-bottom: 0.2rem solid var(--text-brand);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.statistical_section .statistical_item p {
  margin: 0;
  font-family: var(--font-title) !important;
  color: var(--text-brand);
  font-size: 8.739rem;
  line-height: 8.896rem;
}

.statistical_section .statistical_item span {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.416rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}


/* Our Team */
.team_section {
  width: 100%;
  max-width: var(--width-page);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.team_section .wrapper_text {
  display: flex;
  flex-direction: column;
  padding-left: 10rem;
}

.team_section .wrapper_text span {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.416rem;
  letter-spacing: 0.2em;
  color: var(--text-main);
}

.team_section .wrapper_text .team_title {
  font-family: var(--font-title) !important;
  font-size: 8.739rem;
  line-height: 8.896rem;
  color: var(--text-brand);
  padding: 4.3rem 0 2rem 0;
}

.team_section .wrapper_text .team_desc {
  font-size: 2rem;
  line-height: 2.416rem;
  max-width: 92rem;
}

.team_section .wrapper_gallery {
  display: flex;
}

.team_section .wrapper_gallery .gallery_item {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0 4rem;
}

.team_section .wrapper_gallery .gallery_item img {
  width: 100%;
  height: 55rem;
  object-fit: cover;
}

.team_section .wrapper_gallery .gallery_item .fullname {
  padding: 4.4rem 0 2rem 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.859rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.team_section .wrapper_gallery .gallery_item .position {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.416px;
  color: var(--text-brand);
  padding-bottom: 2.5rem;
  border-bottom: 0.2rem solid var(--text-brand);
}

.team_section .wrapper_gallery .gallery_item_join {
  background-color: #d6a5781a;
  border: 0.1rem solid #ffffff;
  max-height: 55rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.859rem;
  letter-spacing: 0.2em;
  position: relative;
}

.team_section .wrapper_gallery .gallery_item_join .icon_bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 9.053rem;
  height: 9.371rem;
}

/* Discover */
.discover_section {
  padding-top: 31.8rem;
  padding-bottom: 35.9rem;
}

.discover_container {
  display: flex;
}

.discover_container .discover_left {
  width: 50%;
  position: relative;
}

.discover_container .discover_left .discover_img_01 {
  width: 56.1rem;
  height: 55.3rem;
  border: 0.2rem solid var(--text-main);
}

.discover_container .discover_left .discover_img_02 {
  width: 30.9rem;
  height: 38.5rem;
  border-radius: 50rem 50rem 0px 0px;
  overflow: hidden;
  border: 0.2rem solid var(--text-brand);
  position: absolute;
  top: 42rem;
  left: 38.1rem;
}

.discover_container .discover_right {
  width: 52.5%;
}

.discover_container .discover_right .any_question {
  padding-top: 2.6rem;
  width: 100%;
  text-align: right;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.416rem;
  color: #ffffff80;
}

.discover_container .discover_right .any_question a {
  color: var(--text-brand);
}

.discover_container .discover_right .discover_right_title {
  font-family: var(--font-title) !important;
  font-size: 8.739rem;
  font-weight: 300;
  line-height: 8.896rem;
  text-align: left;
  margin-bottom: 11.9rem;
}

.discover_container .discover_right .discover_right_title span {
  font-family: var(--font-title) !important;
  color: var(--text-brand);
}

.discover_container .discover_right .wrapper_collapse {
  padding-left: 3rem;
}

.discover_container .discover_right .wrapper_collapse .collapse_item {
  padding: 2.9rem 0;
  border-top: 0.1rem solid var(--text-main);
}

.discover_container .discover_right .wrapper_collapse .collapse_item#discover_collapse_03 {
  border-bottom: 0.1rem solid var(--text-main);
}

.discover_container
  .discover_right
  .wrapper_collapse
  .collapse_item
  .collapse_title {
  display: flex;
  align-items: center;
  gap: 4.3rem;
}

.discover_container
  .discover_right
  .wrapper_collapse
  .collapse_item
  .collapse_title
  .title_icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid var(--text-main);
  cursor: pointer;
  transition: color 1s ease, 
}

.discover_container
  .discover_right
  .wrapper_collapse
  .collapse_item.active
  .collapse_title
  .title_icon {
    border: 0.1rem solid var(--text-brand);
    transition: color 1s ease, 
}

.discover_container
  .discover_right
  .wrapper_collapse
  .collapse_item
  .collapse_title
  .title_icon
  svg {
  height: 1.25rem;
  width: auto;
  object-fit: contain;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.discover_container
  .discover_right
  .wrapper_collapse
  .collapse_item.active
  .collapse_title
  .title_icon
  svg {
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

.discover_container
  .discover_right
  .wrapper_collapse
  .collapse_item.active
  .collapse_title
  .title_icon
  svg path {
  fill: var(--text-brand);
  transition: color 0.5s ease, 
}


.discover_container
  .discover_right
  .wrapper_collapse
  .collapse_item
  .collapse_title
  .title_text {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.624rem;
  text-align: left;
  transition: color 1s ease, 
  color: var(--text-main);
  text-transform: uppercase;
}

.discover_container
  .discover_right
  .wrapper_collapse
  .collapse_item.active
  .collapse_title
  .title_text {
  color: var(--text-brand);
  transition: color 1s ease, 
}

.discover_container
  .discover_right
  .wrapper_collapse
  .collapse_item
  .collapse_desc {
  padding-left: 9rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.416rem;
  text-align: left;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s cubic-bezier(0.65, 0, 0.35, 1), 
              padding-top 0.4s cubic-bezier(0.65, 0, 0.35, 1), 
              padding-bottom 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  padding-top: 0;
  padding-bottom: 0;
}

.discover_container
  .discover_right
  .wrapper_collapse
  .collapse_item.active
  .collapse_desc {
  max-height: 100rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  transition: max-height 0.4s cubic-bezier(0.65, 0, 0.35, 1), 
              padding-top 0.4s cubic-bezier(0.65, 0, 0.35, 1), 
              padding-bottom 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}


/* Instagram */
.instagram_section {
  width: 100%;
  max-width: var(--width-page);
  margin: auto;
  display: flex;
  position: relative;
}

.instagram_section .instagram_text {
  position: absolute;
  top: 2rem;
  left: 10.6rem;
  font-family: var(--font-title-thin) !important;
  font-size: 17.7rem;
  font-weight: 200;
  line-height: 18.019rem;
  text-align: left;
  z-index: 10;
  color: var(--text-brand);
  text-transform: uppercase;
  text-shadow: 0.2rem 0.2rem 0.5rem #000;
}

.instagram_section .instagram_left {
  width: 50%;
  z-index: 2;
  padding-top: 36.4rem;
  padding-left: 45rem;
}

.instagram_section .instagram_left .instagram_img_01 {
  width: 25rem;
  height: 22.8rem;
  padding-bottom: 4rem;
  margin-left: 21.5rem;
}

.instagram_section .instagram_left .instagram_img_02 {
  width: 46.6rem;
  height: 49.2rem;
  border-radius: 0px 0px 50rem 50rem;
  overflow: hidden;
  border: 0.2rem solid var(--text-brand);
}

.instagram_section .instagram_left .instagram_img_02 img {
  width: 100%;
  height: 100%;
}

.instagram_section .instagram_right {
  width: 50%;
  z-index: 2;
  position: relative;
}

.instagram_section .instagram_right .instagram_img_03 {
  width: 71.8rem;
  height: 76.4rem;
  border-radius: 50rem 50rem 0px 0px;
  overflow: hidden;
  padding-bottom: 4.4rem;
}

.instagram_section .instagram_right .instagram_img_03 img {
  width: 100%;
  height: 100%;
}

.instagram_section .instagram_right .instagram_img_04 {
  width: 56.6rem;
  height: 28.4rem;
  border: 0.2rem solid var(--text-main);
}

.instagram_section .instagram_right .instagram_img_05 {
  position: absolute;
  right: 0;
  top: 37rem;
  border: 0.2rem solid var(--text-main);
  width: auto;
  height: 34.9rem;
  object-fit: contain;
}

/* Footer */
footer {
  padding-top: 30rem;
  padding-bottom: 5.6rem;
}

.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_container .logo_footer {
  width: 39.5rem;
  height: 8.7rem;
  margin-bottom: 8.9rem;
}

.footer_container .logo_footer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer_container .phone_footer {
  font-family: var(--font-title-thin) !important;
  /* font-size: 17.7rem; */
  font-size: 14rem;
  /* line-height: 18.019rem; */
  line-height: 16rem;
  font-weight: 200;
  color: var(--text-brand);
  margin-bottom: 6.8rem;
}

.footer_container .contact_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 13.4rem;
  font-size: 3rem;
  line-height: 3.624rem;
  text-align: center;
}

.footer_container .contact_footer .contact_time {
  color: var(--text-main);
  text-transform: uppercase;
}

.footer_container .contact_footer .contact_location {
  color: var(--text-brand);
}

.footer_container .contact_footer .contact_mail {
  color: var(--text-brand);
}

.footer_container .social_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}

.footer_container .social_footer .icon {
  width: 11.4rem;
  height: 11.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid var(--text-brand);
}

.footer_container .social_footer .icon img {
  width: auto;
  height: 3.7rem;
}

.footer_container .copyright_footer {
  font-size: 1.8rem;
  line-height: 2.16rem;
  color: #ffffff80;
  text-transform: uppercase;
}

.wrapper_hover {
  position: relative;
}

.custom_cursor_hover {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #181d24eb;
  pointer-events: none;
  transition: transform 0.1s, opacity 0.3s;
  opacity: 0;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-brand); 
  font-size: 3rem; 
  text-align: center;
}

.custom_cursor_hover.active {
  opacity: 1;
}
